# The Titanic data set 

This set is commonly used in data analysis examples.   

It provides passenger data with the following information:   

* Pclass Passenger Class (1 = 1st; 2 = 2nd; 3 = 3rd)
* survival Survival (0 = No; 1 = Yes)
* name Name
* sex Sex
* age Age
* sibsp Number of Siblings/Spouses Aboard
* parch Number of Parents/Children Aboard
* ticket Ticket Number
* fare Passenger Fare (British pound)
* cabin Cabin
* embarked Port of Embarkation (C = Cherbourg; Q = Queenstown; S = Southampton)

# Explore and visualize the titanic dataset

## 1.Import necessary packages

In [ ]:
# enter necessary import statement here

## 2. Load the file

In [2]:
#load file titanic_part1.csv and get a short overview with head or tail

## 3. Analyze the data

In [ ]:
# enter code here to explore the data set, remeber methods like info, describe

## 4. Cleanup

In [ ]:
# enter code here to check for invalid data. try to find reasonable strategies to handle this probleme

## 5. Identify categorical data columns and set reasonabe values

In [ ]:
# e.g. the class column with values (0,1,2) can be categorized with ("first", "second", "third")

## 6. Merge additional data

In [ ]:
# load the file titanic_part2_incomplete.csv and analyze the data. add the missing data by loading and merging titanic_part2_incomplete.csv

## 7. Plot

In [ ]:
# enter code here to plot the dataset. use scatterplots, boxplots, barplots